body {
    flex: 1;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.auth-form {
    flex: 1;
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 1em;
    max-width: 300px;
    margin: 50px auto;
    padding: 20px 40px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.auth-form h1 {
    font-size: 2em;
    color: #007BFF;
    margin-bottom: 20px;
    margin-left: 22px;
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.auth-form label {
    display: block;
    margin: 10px 0 25px;
    font-weight: bold;
    text-align: right;
}

.auth-form input {
    flex: 1;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    
}

.auth-form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.auth-form button:hover {
    background-color: #0056b3;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

.input-group label {
    flex: 1;
    font-weight: bold;
}

.input-group input {
    flex: 2;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}